body {
    font-family: Arial, sans-serif;
    background: url('/clb/app/public/img/br.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Đặt nền trắng với độ trong suốt */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa các phần tử trong form */
}

label {
    margin-bottom: 5px;
    text-align: left;
    width: 100%; /* Đảm bảo nhãn chiếm toàn bộ chiều rộng */
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Đảm bảo trường nhập liệu chiếm toàn bộ chiều rộng */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Đảm bảo nút chiếm toàn bộ chiều rộng */
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
}